@import "tailwindcss";

@theme {
    --color-secondary-fixed: #eff6ff;
    --color-on-secondary-container: #ffffff;
    --color-tertiary-container: #0f172a;
    --color-on-primary-fixed: #094e87;
    --color-surface-container-highest: #cbd5e1;
    --color-primary-container: #094e87;
    --color-secondary-fixed-dim: #bfdbfe;
    --color-outline-variant: #cbd5e1;
    --color-on-tertiary: #ffffff;
    --color-on-tertiary-fixed-variant: #1e3a8a;
    --color-error: #ba1a1a;
    --color-tertiary-fixed-dim: #3b82f6;
    --color-on-primary: #ffffff;
    --color-on-secondary: #ffffff;
    --color-error-container: #ffdad6;
    --color-tertiary: #094e87;
    --color-on-primary-fixed-variant: #1e3a8a;
    --color-surface: #ffffff;
    --color-on-secondary-fixed-variant: #1d70b8;
    --color-surface-tint: #094e87;
    --color-background: #ffffff;
    --color-outline: #94a3b8;
    --color-primary: #094e87;
    --color-secondary-container: #094e87;
    --color-on-surface-variant: #475569;
    --color-inverse-surface: #094e87;
    --color-surface-container-lowest: #ffffff;
    --color-on-error: #ffffff;
    --color-on-error-container: #93000a;
    --color-on-primary-container: #ffffff;
    --color-surface-variant: #f8fafc;
    --color-surface-container-low: #ffffff;
    --color-inverse-on-surface: #ffffff;
    --color-inverse-primary: #bfdbfe;
    --color-surface-bright: #ffffff;
    --color-tertiary-fixed: #60a5fa;
    --color-surface-container-high: #f1f5f9;
    --color-primary-fixed: #eff6ff;
    --color-surface-container: #f1f5f9;
    --color-primary-fixed-dim: #bfdbfe;
    --color-on-surface: #0f172a;
    --color-on-secondary-fixed: #094e87;
    --color-surface-dim: #f1f5f9;
    --color-on-tertiary-fixed: #094e87;
    --color-on-tertiary-container: #1d70b8;
    --color-on-background: #0f172a;
    --color-secondary: #1d70b8;

    --font-body-base: arial, serif;
    --font-label-caps: "Courier Prime", monospace;
    --font-headline-md: "Work Sans", sans-serif;
    --font-display-lg: arial, serif;
    --font-stat-lg: "Courier Prime", monospace;
    --font-ui-action: "Work Sans", sans-serif;

    --text-body-base: 16px;
    --text-body-base--line-height: 24px;
    --text-label-caps: 12px;
    --text-label-caps--line-height: 16px;
    --text-label-caps--letter-spacing: 0.08em;
    --text-label-caps--font-weight: 700;
    --text-headline-md: 22px;
    --text-headline-md--line-height: 28px;
    --text-headline-md--letter-spacing: -0.01em;
    --text-headline-md--font-weight: 800;
    --text-display-lg: 40px;
    --text-display-lg--line-height: 44px;
    --text-display-lg--letter-spacing: -0.02em;
    --text-display-lg--font-weight: 700;
    --text-stat-lg: 32px;
    --text-stat-lg--line-height: 36px;
    --text-stat-lg--letter-spacing: -0.03em;
    --text-stat-lg--font-weight: 700;
    --text-ui-action: 14px;
    --text-ui-action--line-height: 16px;
    --text-ui-action--font-weight: 800;
}
